total=0
contador=0
media=0
while True:
   try:
       usuario=input('Digite um número:')
       if usuario=='Done':
          break
       else:
          total=int(usuario)+total
          contador=contador+1
          media=total/contador
   except:
         if usuario.isalpha():
          print('erro de digitação')
print(f'{total} {contador} {media}')
